rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    // USERS
    match /users/{userId} {
        allow read: if isOwner(userId);

        // ASSIGNMENTS
        match /assignments/{assignmentId} {
            allow read, write: if isOwner(userId);
        }
    }
  }
}
